@import 'react-vertical-timeline-component/style.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo-regular);
  overflow-color: #000;
  overflow-y: scroll;
}

h1, h2, h3, strong {
  font-family: var(--font-cairo-bold), sans-serif;
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


